.detailCharacter {
  margin: 0.5rem;
  margin-top: 0rem;
  background-color:cornsilk;
  padding: 1rem;
  padding-top: 0rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
}